@model IEnumerable<Team>

<a asp-action="Index" asp-controller="Home" asp-route-teamid="">Home</a>
<br />

@foreach (var x in Model)
{
    
    <a class="@(x.TeamName == ViewBag.SelectedType ? "font-weight-bold" : "font-weight-normal")"
       asp-action="Index" asp-controller="Home" 
       asp-route-teamid="@x.TeamId"
       asp-route-teamname="@x.TeamName">@x.TeamName</a>
    <br />
}
